/* .custom-input {
  border: 2px solid #cef1ce;
  background: #f3fdf5;
} */

/* .art-search .btn-success:hover {
  background-color: #398439;
  border-color: #2e7031;
}
 */
/* .art-search .form-control {
  border: 2px solid #cef1ce;
}
 */
