.wrapper-for-container-with-arts-objects-of-user {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-content: center; */
  align-items: center;
}

.container-with-arts-objects-of-user {
  width: 70%;
}
.custom-button-posted-art {
  color: "black";
}

.custom-button-posted-art:hover svg {
  color: green;
}

.user-info-section {
  background-color: #f3fdf5;
  border: 1px solid #d4edd9;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
}

/* Custom button style for NavLink */
.custom-button-user-info {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #a9cea9; /* Mint green */
  border: 2px solid #93d193;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 200px;
}

.custom-button-user-info:hover,
.custom-button-user-info:active,
.custom-button-user-info:focus {
  background-color: #4cae4c;
  border-color: #398439;
}

.favorites-section,
.posted-arts-section {
  margin-right: 20px;
  margin-left: 20px;
}

.my-masonry-grid {
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

.masonry-item {
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.masonry-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.masonry-text {
  padding: 10px;
  background: #f9f9f9;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.masonry-text h5 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.masonry-text p {
  margin: 5px 0 0;
  font-size: 0.9em;
  color: #777;
}
